<!DOCTYPE HTML>
<html>
  <head>
    <title>Resume Classifier</title>
  </head>
  <body>
    <h1>Resume Classifier</h1>
    <form method="POST" action="">
      <div>
      	<label style="margin-left:15px;" for="cgpa">CGPA :</label>
      	<input id="cgpa" type="number" placeholder="7.5" step="0.01" name="cgpa" min="0.00" max="10.00">

      	<label style="margin-left:55px;" for="college">Institution :</label>
      	<select id="college" name="college">
        <option value="T1">Tier 1</option>
        <option value="T2">Tier 2</option>
        <option value="T3">All others</option>
      </select>
      	
      	<label style="margin-left:95px;" for="skill">Skill :</label>
      	<input id="skill" type="text" placeholder="e.g. java" name="skill">

      	<br><br><br>

        <input style="margin-left:250px;" type="submit" name="submit" value="Submit">
      </div>
    </form>

    {% for file in files %}

      <a href="{{file}}">{{file}}</a>
      <br>

  {% endfor %}

  </body>
</html>